body {
    background-color: #202020;
    /* display: flex;  */
    justify-content: center;
    align-items: center;
    align-content: center;
    color: white;
}

#projects {
    background-color: #404040;
    /*border-radius: 5%;*/
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    align-self: center;
    height: auto;
    width: 75%;
    /* display: flex; */
    justify-content: center;
    align-self: center;
}
.project {
    margin: 10px;
    padding: 20px;
    background-color: #202020;
    width: auto;
}
.centered {
    /* position: absolute; */
    /* position:static ;
    justify-content: center;
    align-items: center;
    right: 0;
    left: 0;
    width: 100%; */
    display:flex;
    align-items:center;
    justify-content:center;
    flex-direction:column;
}
footer {
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}